doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Your page description')
    meta(name='author', content='Your page author')
    title Your Title
    link(href="css/styles.css", rel="stylesheet")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    <![if lt IE 9]>
      script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js")
    <![endif]-->
    script(src="js/script.js")
  body
    .page-wrapper
      header.page-header
        h1.page-header__title There is no other platforms for you as like
        a(href="#").page-header__play
        a(href="#").page-header__link
        p.page-header__comment
      section.design
        p.design__subtitle new design
        h2.design__title
          |There is no other platforms for you as like
          span ....
        p.design__description Aenean eu leo quam. Pellentesque ornare sem lacinia
          | quam venenatis vestibulum. Donec id elit non mi porta gravida at eget
          | metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada
          | magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        p.design__description Donec sed odio dui. Aenean lacinia bibendum nulla
          | sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.
          | Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit
          | libero, a pharetra augue.
        .design__image
      section.features
        .features__pen-holder
        .features__earphones
        .features__coffee-cup
        p.features__subtitle new features
        h2.features__title Some awesome features
        .features__list
          .list
            .list__item
              .item
                .item__logo.item__logo-1
                h4.item__title Some awesome features
                p.item__description Donec sed odio dui. Aenean lacinia bibendum
                  | nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
            .list__item
              .item
                .item__logo.item__logo-2
                h4.item__title Some awesome features
                p.item__description Donec sed odio dui. Aenean lacinia bibendum
                  | nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
            .list__item
              .item
                .item__logo.item__logo-3
                h4.item__title Some awesome features
                p.item__description Donec sed odio dui. Aenean lacinia bibendum
                  | nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
      section.responsive-design
        .responsive-design__image
        p.responsive-design__subtitle new design
        h2.responsive-design__title
          |Responsive design, just need your tap
          span ....
        p.responsive-design__description Aenean eu leo quam. Pellentesque ornare sem lacinia
          | quam venenatis vestibulum. Donec id elit non mi porta gravida at eget
          | metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada
          | magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
      section.clients
        .clients__list
          .clients-list
            .clients-list__item
              .clients-list-item
                .clients-list-item__logo
                p.clients-list-item__name Jonathon Doe
                p.clients-list-item__position Co Founder
                p.clients-list-item__comment “Pellentesque ornare sem lacinia quam.
                  | Donec id elit non mi porta gravida at eget metus. Curabitur
                  | blandit tempus porttitor. Etiasem malesuada magn”
        .companies__list
          .companies-list
            .companies-list__item.companies-list__item_item-1
            .companies-list__item.companies-list__item_item-2
            .companies-list__item.companies-list__item_item-3
            .companies-list__item.companies-list__item_item-4
            .companies-list__item.companies-list__item_item-5
      section.browser
        p.browser__subtitle new features
        h2.browser__title Some awesome features
        p.browser__description Aenean eu leo quam. Pellentesque ornare sem lacinia
          | quam venenatis vestibulum. Donec id elit non mi porta gravida at eget
          | metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada
          | magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
        .browser__image
      section.try-now
        p.try-now__subtitle new features
        h2.try-now__title Over 1000 designers are using ...
        .try-now__signup
          form(action="#" method="post").signup
            input(type="text" placeholder="full name").signup__field
            input(type="mail" placeholder="your email").signup__field
            input(type="password" placeholder="password").signup__field
            .signup__submit
              p 30 days free trial for all.
              input(type="submit" value="try now")
        p.try-now__terms
          |By Signing up you agree to our
          a(href="#") terms & Services
      footer.page-footer
        .page-footer__contacts
          .contacts
            .contacts__logo
            p.contacts__description Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam.
            p.contacts__phone USA & CAN: 1-888-123-4567
            p.contacts__address Address: 34 Brokel Rd. NY
        .page-footer__support
          .support
            a(href="#").support_link Help Center
            a(href="#").support_link Get Starter
            a(href="#").support_link Contact US
        .page-footer__about
          .about
            a(href="#").about_link About US
            a(href="#").about_link Terms of Use
            a(href="#").about_link Privacy Policy
        .page-footer__newsletter
          form.newsletter
            input(type="mail" placeholder="email").newsletter__field
            input(type="submit" value="").newsletter__submit
            .newsletter__links
              .newsletter-links
                a(href="#").newsletter-links__item.newsletter-links__item_item-1
                a(href="#").newsletter-links__item.newsletter-links__item_item-2
                a(href="#").newsletter-links__item.newsletter-links__item_item-3
                a(href="#").newsletter-links__item.newsletter-links__item_item-4
